<h3><a href="/comment/{{comment._id}}">{{comment.title}}</a></h3>
<p>
  <small>{{comment.date}}</small>
  <br />
  <strong>{{comment.body}}</strong>
</p>

<form method="post" action="/comments/{{comment._id}}?_method=DELETE">
  <button>Remove</button>
</form>